* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    color: white;
}

h1 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: orange;
}

#first {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 30px;
    flex-wrap: wrap;
}

.user {
    width: 200px;
    text-align: center;
    padding: 5px;
    border: 2px solid white;
    transition: transform 1s ease;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.user:hover {
    transform: scale(1.2);
}