    * {
        background-color: black;
    }
    
    #box {
        background-color: white;
        width: 300px;
        height: 200px;
        position: relative;
    }
    
    #circle {
        height: 100px;
        width: 100px;
        background-color: red;
        border-radius: 50px;
        position: absolute;
        left: 100px;
        top: 50px;
    }