    * {
        margin: 0;
        padding: 0;
    }
    
    h2 {
        background-color: orange;
        position: relative;
        left: 100px;
    }
    
    h3 {
        background-color: pink;
        position: fixed;
        top: 0px;
    }
    
    h4 {
        positon: sticky;
        top: 0 px;
    }
    
    p {
        background-color: chartreuse;
        position: absolute;
        left: 50px;
        top: 70px;
        z-index: 10;
    }